/* From Uiverse.io by arthur_6104 */ 

        .grid-container {
            display: grid;
           grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
            gap: 20px;
            padding: 20px;
            min-width: 300px;
            max-width: 1200px
            margin: 0 auto;
            place-items: center;
        }

        .grid-item3 {

            background-color: #ffffff;
            padding: 20px;
            border-radius: 8px;
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
            text-align: center;
            transition: transform 0.3s ease;
            border: transparent
        }
  

.clip-text {
  background:  #1da1f2;
  background-size: cover;
  background-attachment: fixed;
text-align: center;
  position: sticky;
  -webkit-background-clip: text;
  color: transparent; 
  box-sizing: border-box;
  font-size: 80px;
  font-weight: bold;
  position: relative;
margin-top:50px;
  line-height: 100px;
  flex-shrink: 0;
  z-index: 4;
  width: 100%;
}


.browser {
  width: 300px;
  height: 220px;
  
  background-position: center;
 background-position-y: 69px;
  background-size: 100%;
  border-radius: 7px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  position: relative;
  box-shadow: 5px 5px 10px rgba(31, 31, 31, 0.245);
  text-decoration: "none";
}

/* tabs-head */
.tabs-head {
    text-decoration: "none";
  background-color: #353535;
  height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: end;
  padding-left: 20px;
  top:10px;
}

.tabs-head .tab-open {
  width: 100px;
  height: 24px;
 
  border-radius: 7px 7px 0 0;
  background-color: #515151;
  display: flex;
  gap: 5px;
  align-items: start;
  justify-content: space-between;
  padding: 4px 8px;
  position: relative;
  text-decoration: "none";
}

.tabs-head .tab-open .close-tab {
  color: #fff;
  font-size: 9px;
  padding: 1px 4px 1px 4px;
  border-radius: 50%;
  cursor: default;
}
.tabs-head .tab-open .close-tab:hover {
  background-color: #5d5d5d;
}

.tabs-head .tab-open .rounded-l {
  position: absolute;
  background-color: #515151;
  width: 20px;
  height: 24px;

  right: 0;
  transform: translate(100%);
  overflow: hidden;
}
.tabs-head .tab-open .rounded-l .mask-round {

  width: 100%;
  height: 100%;
  background-color: #353535;
  border-radius: 0 0 0 7px;
}

.tabs-head .tab-open .rounded-r {
  position: absolute;
  background-color: #515151;
  width: 20px;
  height: 24px;
  top: 0;
  left: 0;
  transform: translate(-100%);
  overflow: hidden;
}

.tabs-head .tab-open .rounded-r .mask-round {
    text-decoration: "none";
  width: 100%;
  height: 100%;
  background-color: #353535;
  border-radius: 0 0 7px 0;
}

.tabs-head .tab-open span {
  color: #fff;
  font-size: 12px;
  
}

.tabs-head .window-opt {
  display: flex;
  
}

.tabs-head .window-opt button {
  height: 30px;
  width: 30px;
  border: none;
  background-color: transparent;
  transition: 0.1s ease-out;
  color: #fff;
  margin-bottom: 10px;
  
}

.tabs-head .window-opt button:hover {
  background-color: #515151c8;
}

.tabs-head .window-opt .window-close:hover {
  background-color: rgb(255, 52, 52);
}

/* head-browser */
.head-browser {
  position: absolute;
  top: 30px;
  width: 96%;
  height: 24px;
  background-color: #515151;
  padding: 7px;
  display: flex;
  border-radius: 7px 7px 0 0;
  gap: 5px;
  text-decoration: "none";
}

.head-browser input {
  background-color: #3b3b3b;
  border: 2px solid transparent;
 
  height: 90%;
  border-radius: 20px;
  outline: none;
  color: #fff;
  padding: 0px 15px;
  flex: 1;
  transition: 0.2s ease-in-out;
  text-decoration: "none";
}

.head-browser input:hover {
  background-color: #5d5d5d;
}

.head-browser input:focus {
  border-color: rgb(173, 214, 255);
  background-color: #3b3b3b;
  transition: none;
}

.head-browser input::placeholder {
  color: #fff;
}

.head-browser button {
  width: 27px;
  height: 25px;
  border: none;
  background-color: transparent;
  color: #fff;
  border-radius: 50%;
  transition: 0.2s ease-in-out;
  text-decoration: "none";
}

.head-browser button:disabled {
  opacity: 0.4;
}

.head-browser button:hover {
  background-color: #5d5d5d;
}

.head-browser button:disabled:hover {
  background-color: transparent;
}

.head-browser .star {
  color: #fff;
  position: absolute;
  right: 36px;
  top: 53%;
  transform: translateY(-50%);
  font-size: 15px;
  opacity: 0.7;
  height: 18px;
  width: 19px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 3px;
}
